<section data-ng-controller="HomeController">
	<h1>Welcome</h1>
    <p>This portfolio item connects to the twitter firehose and pulls down tweets from the Columbus area region. It maintains a queue of the last ten tweets. The server side connects to the Twitter firehose, and the browser client connects to the NodeJS server which is receiving the Twitter updates. As the stream updates, AngularJS handles all the data-binding and view updates.</p>
    <p>It was pretty fun to see what Columbus area people were saying during the world cup...</p>
	<a href="/#!/socketio">Click for live twitter aggregator</a>
</section>