
<script type="text/javascript" src="modules/socketio-area/tests/hack.test.js"></script>
<section data-ng-controller="SocketioAreaController">
  <div class="input-group">
    <input type="text" class="form-control" placeholder="First Name" ng-model="firstName">
    <input type="text" class="form-control" placeholder="Last Name" ng-model="lastName">
    <p>{{firstName}}</p>
    <p>{{lastName}}</p>
  </div>
</section>

  <div id="row" class="bck1 row">
    <div class="bck2 half col">
      <div class="bck3 third col">
        <p>first</p>
      </div>
      <div class="bck4 third col">
        <p>second</p>
      </div>
      <div class="bck5 third col">
        <p>third</p>
      </div>
    </div>
    <div class="bck6 half col">
      <p>second</p>
    </div>
  </div>