.all-tweets {
  display: inline-block;
}

body {
	background: rgb(255,213,213); /* Old browsers */
	background: -moz-linear-gradient(-45deg,  rgb(255,213,213) 0%, rgb(251,223,205) 12%, rgb(249,251,225) 30%, rgb(236,252,228) 62%, rgb(204,228,246) 83%, rgb(198,196,212) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgb(255,213,213)), color-stop(12%,rgb(251,223,205)), color-stop(30%,rgb(249,251,225)), color-stop(62%,rgb(236,252,228)), color-stop(83%,rgb(204,228,246)), color-stop(100%,rgb(198,196,212))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  rgb(255,213,213) 0%,rgb(251,223,205) 12%,rgb(249,251,225) 30%,rgb(236,252,228) 62%,rgb(204,228,246) 83%,rgb(198,196,212) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  rgb(255,213,213) 0%,rgb(251,223,205) 12%,rgb(249,251,225) 30%,rgb(236,252,228) 62%,rgb(204,228,246) 83%,rgb(198,196,212) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  rgb(255,213,213) 0%,rgb(251,223,205) 12%,rgb(249,251,225) 30%,rgb(236,252,228) 62%,rgb(204,228,246) 83%,rgb(198,196,212) 100%); /* IE10+ */
	background: linear-gradient(135deg,  rgb(255,213,213) 0%,rgb(251,223,205) 12%,rgb(249,251,225) 30%,rgb(236,252,228) 62%,rgb(204,228,246) 83%,rgb(198,196,212) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd5d5', endColorstr='#c6c4d4',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.tweet.rotate15 {
	transform: rotate(15.0deg);
	-ms-transform: rotate(15.0deg); /* IE 9 */
	-moz-transform: rotate(15.0deg); /* Firefox */
	-webkit-transform:rotate(15.0deg); /* Opera, Chrome, and Safari */
}

.tweet {
  width: 400px;
  margin: 10px;
  background-color: #e8e6d6;
  -webkit-box-shadow: 3px 3px 2px 0px rgba(0, 126, 50, 0.75);
  -moz-box-shadow:    3px 3px 2px 0px rgba(0, 126, 50, 0.75);
  box-shadow:         3px 3px 2px 0px rgba(0, 126, 50, 0.75);
  display: inline-block;
  word-wrap: break-word;
}

.tweet .twitter-profile-pic {
  display: inline-block;
  margin: 10px 10px 0px 10px;
  width: 75px;
  height: 75px;
}

.tweet .twitter-username {
  font-family: 'Dosis', sans-serif;
  display: inline-block;
  font-size: 2rem;
  font-weight: 700;
  margin: 10px 10px 0px 10px;
}

.tweet .tweet-text {
  font-family: 'Dosis', sans-serif;
  font-size: 1.75rem;
  color: #910909;
  margin: 10px;
}